@import '../abstracts/_colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: normal;
}

#root .ant-layout {
  min-height: 100vh;
}

#root .ant-layout-content .page-heading {
  padding: 10px 50px;
  color: $white;
  background: #414141;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}
